<div class="table-form">
    <table id="myTable">
        <tr>
            <th>ID</th>
            <th>First_Name</th>
            <th>Last_Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>No_Of_Orders</th>
            <th>Full_time_available</th>
            <th>Salary</th>
        </tr>

        <tr>
            <td><%= employee.id %> </td>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.age %></td>
            <td><%= employee.no_of_orders %></td>
            <td><%= employee.full_time_available %></td>
            <td><%= employee.salary %></td>
        </tr>
    </table>
</div>
