<p style="color: green"><%= notice %></p>
<div class="body-container">
  <h1>Employees</h1>

  <%= link_to "Search", search_path, class:"btn btn-primary" %>

  <div id="employees", style="margin-top:10px">
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Hobbies</th>
        <th>Mobile</th>
        <th>B'date</th>
        <th>Document</th>
        <th>Action</th>
      </tr>

      <% @employees.each do |employee| %>
        <tr>
          <%= render employee %>
          <td><%= link_to "Show", employee, class:"btn btn-primary" %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <%= link_to "New employee", new_employee_path, class:"btn btn-info", style:"margin-top:10px" %>

</div>
