<div class="body-container">
    <%# ==== Reselect ==== %>
    <div class="heading">
        <h3>Reselect Employee ID</h3>
    </div>
    <div>
        <%= @reselect[0].id %>
    </div>

    <%# ==== Unscope ==== %>
    <div class="heading">
        <h3>Unscope DESC-Order in Age</h3>
    </div>
    <div>
        <% @unscope.each do |u| %>
            <p>
                <%= u.first_name %>
                <%= u.age %>
            </p>
        <% end %>
    </div>

    <%# ==== Only ==== %>
    <div class="heading">
        <h3>Only group(exclude having condition)</h3>
    </div>
    <div>
        <% @only.each do |o| %>
            <p>
                <%= o.first_name %>
            </p>
        <% end %>
    </div>

    <%# ==== Reverse_Order ==== %>
    <div class="heading">
        <h3>Reverse ASC Order of salary</h3>
    </div>
    <div>
        <% @reverse_order.each do |r| %>
            <p>
                <%= r.first_name %>
                <%= r.salary %>
            </p>
        <% end %>
    </div>

    <%# ==== Reorder ====  %>
    <div class="heading">
        <h3>ReOrder ASC order of id instead of salary </h3>
    </div>
    <div>
        <% @reorder.each do |re| %>
            <p>
                <%= re.first_name %>
                <%= re.salary %>
            </p>
        <% end %>
    </div>
</div>
