<div class="body-container">
    <div class="three-buttons">
        <!-- ============= Age between 20-40 ============= -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
          Age 20-40
        </button>

        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel1">Employees Age 20-40</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                  <h6>Name - Age</h6>
                </p>
                <% if @employees.where("age > 20 AND age < 40").present? %>
                  <% @employees.where("age > 20 AND age < 40").each do |e| %>
                      <p> 
                        <%= e.first_name %>
                        <%= e.age %> 
                      </p>
                  <% end %>
                <% else %>
                  <h6>None</h6>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <!-- =========== full_Time_available =========== -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
          Full-Time Emp
        </button>

        <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel3">Full-Time Available Emps</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                  <h6>Name - Full_time?</h6>
                </p>
                <% if @employees.where("full_time_available = true").present? %>
                  <% @employees.where("full_time_available = true").each do |e| %>
                    <p> 
                      <%= e.first_name %>
                      <%= e.full_time_available %>
                    </p>
                  <% end %>
                <% else %>
                  <h6>None</h6>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <!-- ============= No_of_order = 5 and age > 25 ================= -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop4">
          order=5 & age>25
        </button>

        <div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel4" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel4">Employees age > 25 & order = 5 </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                  <h6>Name  Age  No_of_orders</h6>
                </p>
                <% if @employees.where("no_of_orders = 5 AND age > 25").present? %>
                  <% @employees.where("no_of_orders = 5 AND age > 25").each do |e| %>
                    <p> 
                      <%= e.first_name %>
                      <%= e.age %>
                      <%= e.no_of_orders %> 
                    </p>
                  <% end %>
                <% else %>
                  <h6>None</h6>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

    </div>

    <div class="three-buttons">
      <!-- =========== No_of_order = 5 OR age < 25 ========= -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">
        order=5 or age<'25'
      </button>

      <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel5" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel5">Employees age < 25 OR order = 5 </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>
                <h6>Name  Age  No_of_orders</h6>
              </p>
              <% if @employees.where("no_of_orders = 5 OR age < 25").present? %>
                <% @employees.where("no_of_orders = 5 OR age < 25").each do |e| %>
                  <p> 
                    <%= e.first_name %>
                    <%= e.age %>
                    <%= e.no_of_orders %> 
                  </p>
                <% end %>
              <% else %>
                <h6>None</h6>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <%# ============ DESC by age ============= %>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop6">
        Age DESC
      </button>

      <div class="modal fade" id="staticBackdrop6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel6" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel6">Age DESC Order</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                  <h6>Name - Age</h6>
                </p>
                <% @employees.order("age DESC").each do |e| %>
                    <p> 
                      <%= e.first_name %>
                      <%= e.age %>
                    </p>
                <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <%# =============== ASC order by no_of_orders ============== %>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop7">
        no_of_orders ASC 
      </button>

      <div class="modal fade" id="staticBackdrop7" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel7" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel7">No_of_orders ASC Order</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                  <h6>Name - No_of_orders</h6>
                </p>
                <% @employees.order("no_of_orders").each do |e| %>
                    <p> 
                      <%= e.first_name %>
                      <%= e.no_of_orders %> 
                    </p>
                <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="three-buttons">
        <%# ============== Salary > 45000 ====================== %>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop8">
          salary > 45000
        </button>

        <div class="modal fade" id="staticBackdrop8" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel8" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel8">Salary > 45000</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                  <h6>Name - Salary</h6>
                </p>
                <% if @employees.where("salary > 45000").present? %>
                  <% @employees.where("salary > 45000").each do |e| %>
                      <p> 
                        <%= e.first_name %>
                        <%= e.salary %> 
                      </p>
                  <% end %>
                <% else %>
                  <h6>No records found with salary > 45000</h6>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <%# =============== Created Before ====================== %>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop9">
          Created Before
        </button>

        <div class="modal fade" id="staticBackdrop9" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel9" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel9">Employees which are created before today</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p>
                    <h6>Name - Created_at</h6>
                  <% @employees.where("created_at < ?", Date.today).each do |e| %>
                      <p> 
                        <%= e.first_name %>
                        <%= e.created_at %>
                      </p>
                  <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <%# ========== Group-by ============ %>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop10">
          Group By
        </button>

        <div class="modal fade" id="staticBackdrop10" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel10" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel10">Group by</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <% @employees.group(:no_of_orders).having("no_of_orders > 25").each do |e| %>
                    <p>
                      <%= e.first_name %>
                    </p>
                  <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

    </div>
    <br>
    <br>
    <%= link_to "Back", employees_path, class:"btn btn-info" %>
</div>
