<div class="body-container">

    <% if flash[:notice] %>
        <p class="alert alert-success"><%= flash[:notice] %></p>
    <% end %>
    
    <div class="heading">
        <h1>Employee-info</h1>
    </div>
    
    <div class="table-form">
        <table>
            <tr>
                <th>ID</th>
                <th>First_Name</th>
                <th>Last_Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>No_Of_Orders</th>
                <th>Full_time_available</th>
                <th>Salary</th>
            </tr>

            <tr>
                <td> <%= @employee.id %> </td>
                <td><%= @employee.first_name %></td>
                <td><%= @employee.last_name %></td>
                <td><%= @employee.email %></td>
                <td><%= @employee.age %></td>
                <td><%= @employee.no_of_orders %></td>
                <td><%= @employee.full_time_available %></td>
                <td><%= @employee.salary %></td>
            </tr>
        </table>
    </div>

    <div class="bottom-button">
        <%= link_to "Employee Home", employees_path, class:"btn btn-info" %>
    </div>

    <br>
    <div class="bottom-button-2">
        <a href="/inc_order/<%= @employee.id %>" class="btn btn-success">Increase-Order</a>
        <a href="/dec_order/<%= @employee.id %>" class="btn btn-danger">Decrease-Order</a>
    </div>

</div>
