<p style="color: green"><%= notice %></p>

<div class="body-container">
  <table class="table-form">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Hobbies</th>
      <th>Mobile</th>
      <th>B'date</th>
      <th>Document</th>
    </tr>

    <tr>
      <%= render @employee %>
    </tr>
  <table>
  <div style="margin-top:15px">
    <%= link_to "Edit this employee", edit_employee_path(@employee), class:"btn btn-success" %> |
    <%= link_to "Back to employees", employees_path, class:"btn btn-info" %>

    <%= button_to "Destroy this employee", @employee, method: :delete, class:"btn btn-danger", style:"margin-top:10px; margin-left:60px" %>
  </div>
</div>
