<h6 id="msg"></h6>

<%= form_with url: password_path(@user), model: @user, method: :post, local: false do |form| %>

    <div>
        <%= form.label :old_pwd, "Old Password", style: "display: block" %>
        <%= form.password_field :old_pwd, id: "old_pwd" %>
    </div>

    <div>
        <%= form.label :new_pwd, "New Password", style: "display: block" %>
        <%= form.password_field :new_pwd, id:"new_pwd", onchange: "check_Password()" %>
    </div>

    <div>
        <%= form.label :confirm_pwd, "Confirm Password", style: "display: block" %>
        <%= form.password_field :confirm_pwd, id:"confirm_pwd", onchange: "check_Password()" %>
    </div>

    <div>
        <%= form.submit "Change Password", class:"btn btn-success", id: "submit", style:"display:none;" %>
    </div>


<% end %>


<script type="text/javascript">

    function check_Password() {

        if (document.getElementById('new_pwd').value.length < 6) {
            document.getElementById('msg').innerHTML = "Length Should Be greater than or eq to 6"
            document.getElementById('msg').style.color = "red"
        }
        if (document.getElementById('new_pwd').value == document.getElementById('confirm_pwd').value) {
            document.getElementById('msg').innerHTML = ""
            document.getElementById('submit').style.display = "block";
        } else {
            document.getElementById('msg').innerHTML = "new password and confirm password should be same"
            document.getElementById('submit').style.display = "none";
        }
    }
</script>
