<div id="orders", class="table-form">
    <table>
    <tr>
        <th>Order-ID</th>
        <th>Quantity</th>
        <th>Total-price</th>
        <th>Status</th>
        <th>Product-Name</th>
    </tr>

    <% @orders.each do |o| %>
        <tr>
        <td> <%= o.id %> </td>
        <td> <%= o.quantity %> </td>
        <td> <%= o.total_price %> </td>
        <td> <%= o.status %> </td>
        <td> <%= Product.unscoped.select(:title).where(id: o.product_id)[0].title %> </td>
        </tr>
    <% end %>
    </table>
</div>

<div class="body-container">
    <%= link_to "Back to orders", orders_path, class:"btn btn-info" %>
</div>
